* {
  font-family: Glory, sans-serif;
}

main {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

#palette {
  width: max-content;
  margin: auto;
}

#title {
  font-size: xx-large;
  margin-bottom: 8px;
}

.color {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: inline-block;
  margin-right: 10px;
}

#pixel-board {
  display: grid;
  grid-template-columns: repeat(5, 40px);
  grid-template-rows: repeat(5, 40px);
  grid-gap: 1px;
  margin-bottom: 50px;
}

.pixel {
  color: white;
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

#button {
  display: flex;
  justify-content: center;
}

#clear-board {
  width: 80px;
  margin-top: 10px;
  margin-bottom: 5px;
}

#board-size-section {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

#board-size {
  margin-right: 5px;
}

.color:last-child {
  margin-right: 0;
}

.selected {
  box-shadow: 0 0 5px black;
}
