* {
  font-family: Glory, sans-serif;
}

#title {
  font-size: xx-large;
  margin-bottom: 8px;
}

.color {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: inline-block;
  margin-right: 10px;
}

#pixel-board {
  display: grid;
  grid-template-columns: repeat(5, 40px);
  grid-template-rows: repeat(5, 40px);
  grid-gap: 1px;
}

.pixel {
  color: white;
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}
